.app {
  /* background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  ); */
  background-image: repeating-linear-gradient(112.5deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 21px),
  repeating-linear-gradient(0deg, rgb(0,0,0) 0px, rgb(0,0,0) 20px,transparent 20px, transparent 21px),linear-gradient(90deg,
   hsl(117,23%,30%),hsl(117,53%,30%),hsl(117,53%,30%),hsl(117,53%,30%),hsl(117,53%,30%));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-body {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Responsiveness */

@media (max-width: 835px) {
  .app-body {
    flex-direction: column;
  }
}
