.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 320px;
}

.login > h1 {
  font-size: 60px;
  color: rgb(14, 202, 108);
  font-weight: 2200;
}

.login > h1 > span {
  color: rgb(221, 14, 14);
  font-size: 65px;
  font-weight: 1800;
}

.login > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 60px;
  font-size: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.login > form > textarea {
  width: 353px;
  height: 150px;
  font-size: 20px;
  font-weight: 400;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 0;
  padding-top: 0;
  resize: vertical;
}

.login > form > button {
  width: 180px;
  height: 50px;
  font-size: large;
  color: #ffff;
  margin: 5px 0px 7px 0px;
  background-color: #0074b1;
  border-radius: 10px;
  border: none;
}

.login > form > p > a {
  color: #0074b1;
}

.login > form > p {
  text-align: center;
  color: white;
}

.login > form > p > a::hover {
  color: #65bae7;
}

.login > form > button:hover {
  background-color: #1393d8;
}

.login_register {
  color: #1a98db;
  cursor: pointer;
}

.login_register:hover {
  color: #65bae7;
  text-decoration: underline;
}

.login > p {
  margin-top: 20px;
  color: white;
}

.login .about-us {
  width: 50%;
  height: auto;
  background-color: rgba(16, 13, 44, 0.212);
  margin-top: 10%;
  padding: 10px 15px 30px 15px;
  border-radius: 10px;
  overflow-wrap: break-word;
  white-space: inherit;
}

.login .about-us > h1 {
  font-size: 60px;
  color: rgb(14, 202, 108);
  font-weight: 400;
  margin-bottom: 5%;
}

.login .about-us > h1 > span {
  color: rgb(221, 14, 14);
  font-size: 65px;
  font-weight: 600;
}

.login .about-us > p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.login .about-us .red {
  color: rgb(221, 14, 14) !important;
  font-weight: 450;
}
.login .about-us .green {
  color: rgb(14, 202, 108) !important;
  font-weight: 450;
}

.login .about-us .ending-points {
  color: rgb(220, 222, 228) !important;
  font-weight: 450;
  font-size: smaller;
}

.login .about-us > p > a {
  color: rgb(221, 14, 14);
}

.login .about-us > p > a:hover {
  color: rgb(14, 202, 108);
}

@media (max-width: 400px) {
  .login {
    margin: 0 15px 0 15px;
  }
  .login > form > input {
    width: 90%;
    height: auto;
  }

  .login > form > textarea {
    width: 90%;
    height: auto;
  }
  .login > form > button {
    width: 90%;
    height: 40px;
  }
  .login .about-us > h1 {
    font-size: 20px;
  }
  .login .about-us > h1 > span {
    font-size: 20px;
  }
}
