.post {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post-header {
  display: flex;
  margin-bottom: 10px;
}

.post-info {
  margin-left: 10px;
}

.post-info > p {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.post-info > h2 {
  font-size: 16px;
  font-weight: 1400;
}

.post-body {
  overflow-wrap: anywhere;
}

.post-buttons {
  display: flex;
  justify-content: flex-end;
}

.post-buttons .btn {
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  border: none;
  color: rgb(37, 35, 35);
  display: inline-block;
  border-radius: 15px;
  width: fit-content;
  margin-right: 20px;
}

.post-buttons .btn:hover {
  background-color: rgb(168, 169, 170);
  color: whitesmoke;
}
