.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.3;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar-avatar {
  margin-bottom: 10px;
}

.sidebar-top > h4 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 350;
  padding: 0 15px 10px 5px;
  text-align: center;
}

.sidebar-top > h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding-bottom: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.sidebar-top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar-bottom {
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

.sidebar-recentItem {
  display: flex;
  font-size: 13px;
  color: grey;
  font-weight: bolder;
  cursor: pointer;
  margin: 15px 0 15px 0;
  padding: 5px;
}

.sidebar-recentItem > p {
  font-size: 13px;
  font-weight: 600;
}

.sidebar-recentItem .bullet {
  color: #0177b7;
  margin: 2px 5px 0 0;
}
.sidebar-recentItem .bullet > .MuiSvgIcon-root {
  font-size: 15px;
}

.sidebar-bottom > p {
  font-size: 25px;
  font-weight: 600;
  padding: 0 10px 10px 10px;
}

.sidebar-recentItem:hover {
  background-color: rgb(211, 210, 210);
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

/* Responsiveness */

@media (max-width: 835px) {
  .sidebar {
    position: static;
  }
  .sidebar-top {
    margin: 20px 10px 20px 10px;
  }
  .sidebar-bottom {
    margin: 20px 10px 20px 10px;
  }
}
